# Python 3.13 required
asgiref==3.8.1
Django==5.2.1
pip
setuptools==67.6.0
sqlparse==0.4.4
wheel==0.40.0
django-allauth==0.54.0
psycopg2-binary
django-extensions
Pillow==11.1.0
django-crispy-forms==2.3
crispy-bootstrap5
qrcode==7.4.2
gunicorn==21.2.0
boto3==1.34.0
django-storages==1.14.2
django-extensions
ipython
oauthlib
requests_oauthlib
# weasyprint==60.2  # Replaced with ReportLab
# reportlab==4.1.0  # Replaced with xhtml2pdf
# xhtml2pdf==0.2.13
xhtml2pdf
