{% extends "ufo_shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Shop" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
      <h2>{% trans "My items" %}</h2>
      <div>
        <a href="{% url 'merchandiser_stats' %}" class="btn btn-info">{% trans "View Sales Statistics" %}</a>
        <a href="{% url 'item-create' %}" class="btn btn-primary">{% trans "Add New Item" %}</a>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in items %}
        {% include "ufo_shop/item_card.html" with item=item %}
      {% empty %}
        <div class="col-12">
          <p class="text-center">{% trans "No items available." %}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
